@model surf_spotter_dot_net_core.ViewModels.SpotsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    <div class="hero-text">
        <h1>Spots</h1>
    </div>
}

<!--Hentning af google api og placering af markers. Evt infobokse. Fungere ikke optimalt endnu....-->
<div class="maps" id="googleMap"></div>
<script>
    var map;
    var centerCords = {
        lat: 55.3980029,
        lng: 10.3814147
    };

    var markerLocations = [{
        lat: 57.044290,
        lng: 8.480431,
        title: 'Klitmøller Strand',
    },
    {
        lat: 56.010760,
        lng: 8.106947,
        title: 'Ringkøbing Fjord',
    }
        ,
    {
        lat: 22.039073,
        lng: -159.335492,
        title: 'Kauai',
    }
        ,
    {
        lat: 20.898691,
        lng: -156.444709,
        title: 'Maui',
    }
        ,
    {
        lat: -28.042766,
        lng: 153.438623,
        title: 'Gold Coast',
    }
        ,
    {
        lat: 57.363698,
        lng: 9.696541,
        title: 'Løkken',
    }
    ];

    var airPressureValue = " ";
    var airTemperatureValue = " ";
    var windSpeedValue = " ";
    var probPercipitationValue = " ";
    var contentHTML = " ";

    function dataHentning(lat, lng, title) {
        //console.log(lat + " : " + lng);
        fetch('https://api.met.no/weatherapi/locationforecast/2.0/compact.json?lat=' + lat + '&lon=' + lng)
            .then(response => response.json())
            .then(data => {
                //console.log(data)
                airPressureValue = data['properties']['timeseries']['0']['data']['instant']['details']['air_pressure_at_sea_level'];
                airTemperatureValue = data['properties']['timeseries']['0']['data']['instant']['details']['air_temperature'];
                windSpeedValue = data['properties']['timeseries']['0']['data']['instant']['details']['wind_speed'];
                probPercipitationValue = data['properties']['timeseries']['0']['data']['instant']['details']['wind_speed'];
            })

            .catch(err => alert("error"))
        contentHTML =
            "<div class='infowindowHeader'>" +
            "<h2>" + title + "</h2>" +
            "</div>" +
            "<table>" +
            "<tr>" +
            "<td>Wave Height: </td>" +
            "<td>" + airTemperatureValue + "</td>" +
            "</tr>" +
            "<tr> " +
            "<td>Wave Period: </td>" +
            "<td>asd</td>" +
            "</tr>" +
            "<tr>" +
            "<td>Wind Speed: </td>" +
            "<td>asd</td>" +
            "</tr>" +
            "<tr>" +
            "<td>Water Temperature: </td>" +
            "<td>asd</td>" +
            "</tr>" +
            "<tr>" +
            "<td>Weather assesment: </td>" +
            "<td>asd</td>" +
            "</tr>" +
            "</table>";
        return contentHTML;
    }

    function myMap() {
        map = new google.maps.Map(document.getElementById("googleMap"), {
            center: centerCords,
            zoom: 6.5,
            mapTypeId: google.maps.MapTypeId.SATELLITE,
            disableDefaultUI: true
        });

        var infowindow = new google.maps.InfoWindow();

        for (var i = 0; i < markerLocations.length; i++) {
            var marker = new google.maps.Marker({
                position: markerLocations[i],
                map: map,
                title: markerLocations[i].title
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(dataHentning(markerLocations[i].Lat, markerLocations[i].Lng, markerLocations[i].Name));
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdejVAEmRXr66UrCtX_CWKzjZ4C0fXCA&callback=myMap"
        type="text/javascript">
</script>
<div class="spotSelectDiv">
    <select class="spotSelect">
        @foreach (var item in Model.Spots)
        {            
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div>
    <table class="dataTable">
        <thead>
            <tr>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wedensday
                </th>
                <th>
                    Thursday
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vmItem in Model.Hourly)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => vmItem.Temp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vmItem.Pressure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vmItem.Feels_Like)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vmItem.Wind_Speed)
                    </td>
                </tr>
                }
            </tbody>
    </table>
</div>

<div class="gallery-section">
    <div class="inner-width">
        <h1>Kendte spots</h1>
        <div class="border"></div>
        <div class="gallery">

            <a href="Assets/Images/surf-icon-16.png" class="image">
                <img src="Assets/Images/surf-icon-16.png" alt="error">
            </a>

            <a href="Assets/Images/wave-1.jpg" class="image">
                <img src="Assets/Images/wave-1.jpg" alt="error">
            </a>

            <a href="Assets/Images/wave2.jpg" class="image">
                <img src="Assets/Images/wave2.jpg" alt="error">
            </a>

            <a href="Assets/Images/wave3.jpg" class="image">
                <img src="Assets/Images/wave3.jpg" alt="error">
            </a>

            <a href="Assets/Images/wave4.jpg" class="image">
                <img src="Assets/Images/wave4.jpg" alt="error">
            </a>

            <a href="Assets/Images/surf-icon-16.png" class="image">
                <img src="Assets/Images/surf-icon-16.png" alt="error">
            </a>

        </div>
    </div>
</div>

<script>
    $(".gallery").magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true
        }
    });
</script>

